#A{
    color: red;
}
#B{
    color: blue;
}
#C{
    color: aqua;
}
#D{
    color: blueviolet;
}

#E{
    color: coral;
}

.F{
    color: darkblue;
}

.H{
    color: darkgoldenrod;
}

.J{
    color: darkkhaki;
}