.parent{
    border: orange solid 2px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 180px 180px 180px;
    gap: 20px;
    width: 340px;
}


.child{
    background-color: lightseagreen;
    border: none;
    gap: 50px;
    border-radius: 20px;
    grid-column-start: 2;

}
