.li1{
    list-style-type: upper-roman;
}
.li2{
    list-style-type: upper-roman;
}
.li3{
    list-style-type: upper-roman;
}
.li4{
    list-style-type: upper-roman;
}
.li5{
    list-style-type: upper-roman;
}


.li10{
    list-style-type: georgian;
}
.li11{
    list-style-type: georgian;
}
.li12{
    list-style-type: georgian;
}
.li13{
    list-style-type: georgian;
}
.li14{
    list-style-type: georgian;
}