.div1{
    color: rgb(153, 228, 15);
    background-color: rgb(132,54,23);
    border: solid;
}
.div2{
    color: rgb(55,55,55);
    background-color: rgb(67,43,14);
}

.div3{
    color: rgb(98,09,23);
    background-color: rgb(67,19,34);
}


.div4{
    color: #A45A32;
    background-color: #455A32;
}

.div5{
    color: #123123;
    background-color: #1f2678;
}

.div6{
    color: #434303;
    background-color: #420696;
}


